{
    "overrides": [
        {
            "files": "*.ts",
            "options": {
                "printWidth": 120,
                "tabWidth": 4,
                "singleQuote": true
            }
        },
        {
            "files": ["*.yml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
